NODE_ENV=development
PORT=3000

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword

MONGO_APP_DB=chat_app_dev
MONGO_APP_USER=chat_app_user
MONGO_APP_PASSWORD=chat_app_password 

# đây là cài đặt mặc định của project